<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
</head>

<body>
    <div>
        <a href="/">Blog Django Girls</a>
    </div>
    <div>
        <p>Publicado: 22.12.2024, 14:50</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi minima
            est blanditiis? Nam eveniet inventore tempore accusantium architecto
            similique cumque magni mollitia optio alias! Sunt esse praesentium
            quaerat facere necessitatibus.
        </p>
    </div>
    <div>
        <p>Publicado: 22.12.2024, 15:00</p>
        <h2>Meu segundo post</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi minima
            est blanditiis? Nam eveniet inventore tempore accusantium architecto
            similique cumque magni mollitia optio alias! Sunt esse praesentium
            quaerat facere necessitatibus.
        </p>
    </div>
</body>

</html>